<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT 9</title>
    <link rel="stylesheet" href="dist/css/style.min.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>
<body>
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="row flex j-between">
                    <div class="logo">
                        <a href="">
                            <img src="dist/img/b9-logo.png" alt="">
                        </a>
                    </div>
                    <form class="flex a-center" action="">
                        <a href="">
                            <img src="dist/img/b9-bancu.png" alt="">
                        </a>
                        <div class="nhap">
                            <i class="fas fa-search"></i>
                            <input type="search" placeholder="nhập bài hát, video, tên nghệ sĩ bạn cần tìm">
                        </div>  
                        <a href="">
                            <i class="fas fa-history"></i>
                        </a>
                    </form>
                    <ul class="flex a-center option">
                        <li><a href="">Đăng nhập</a></li>
                        <li class="xxx"><p>/</p></li>
                        <li><a href="">Đăng ký</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="hihi">
        <nav class="header-bottom">
            <div class="container flex j-between">
                <ul class="menu flex">
                    <li>
                        <a href="">Xếp Hạng</a>
                        <ul class="dropdown">
                            <li><a href="">BXH Hôm Nay</a></li>
                            <li><a href="">BXH Tuần Này</a></li>
                            <li><a href="">BXHTháng Ba</a></li>
                            <li><a href="">BXH 2019</a></li>
                            <li><a href="">BXH 2020</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Video Clip</a>
                        <ul class="dropdown">
                            <li><a href="">Video Việt Nam</a></li>
                            <li><a href="">Video UK</a></li>
                            <li><a href="">Video Hoa</a></li>
                            <li><a href="">Video Hàn</a></li>
                            <li><a href="">Video Live</a></li>
                            <li><a href="">Video Hài</a></li>
                            <li><a href="">Video Nhật</a></li>
                            <li><a href="">Video Pháp</a></li>
                            <li><a href="">Video Nước Khác</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Việt Nam</a>
                        <ul class="dropdown">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                            <li><a href="">Nhạc Truyền Thống</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">US-UK</a>
                        <ul class="dropdown">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Nhạc Hoa</a>
                        <ul class="dropdown">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Nhạc Hàn</a>
                        <ul class="dropdown">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Nhạc Nhật</a>
                        <ul class="dropdown">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Nhạc Pháp</a>
                        <ul class="dropdown">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Nhạc Khác</a>
                        <ul class="dropdown">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                        </ul>
                    </li>
                    <li class="more">
                        <a href="">
                            <i class="fas fa-ellipsis-h"></i>
                            <i class="fas fa-times"></i>
                        </a>
                        <!-- <ul class="dropdown pro">
                            <li><a href="">Nhạc Pop, Rock</a></li>
                            <li><a href="">Nhạc Rap, Hiphop</a></li>
                            <li><a href="">Nhạc Dance, Remix</a></li>
                        </ul> -->
                    </li>
                </ul>
                <div class="upload">
                    <a href="">
                        <i class="fas fa-cloud-upload-alt"></i>
                        Upload
                    </a>
                </div>
            </div>
       </nav>
    </div>
   
    <div class="sliders">
        <div class="container">
            <div class="row2">
                <input type="radio" name="slider" id="slider1" checked>
                <input type="radio" name="slider" id="slider2">
                <input type="radio" name="slider" id="slider3">
                <input type="radio" name="slider" id="slider4">
                <input type="radio" name="slider" id="slider5">
                <a class="button-left" href="">
                    <img src="/dist/img/b9-button.png" alt="">
                </a>

                <div class="items">
                    <ul>
                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider1.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>1.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider2.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>2.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider3.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>3.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider4.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>4.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider5.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>5.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider6.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>6.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider7.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>7.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider8.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>1</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider9.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>8.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>      
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider10.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>9.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider11.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>10.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider12.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>11.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li> 
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider13.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>12.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>                                                      
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider14.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>13.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider15.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>14.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider16.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>15.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider17.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>16.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>                                                                          
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider18.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>16.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider19.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>18.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item">
                                <div class="photo">
                                    <a href="">
                                        <img src="/dist/img/b9-slider20.jpg" alt="">
                                    </a>
                                    <div class="play">
                                        <i class="far fa-play-circle"></i>
                                    </div>
                                </div>
                                <div class="title">
                                    <div class="name-song">
                                        <span>19.</span>
                                        <h5><a href="">IT'z Me (EP)</a></h5>
                                    </div>
                                    <a href="">
                                        <p>
                                            ITZY
                                        </p>
                                    </a>
                                    <h6>Lossless</h6>
                                </div>
                            </div>
                        </li>   
                    </ul>
                </div>

                <a class="button-right" href="">
                    <img src="/dist/img/b9-button2.png" alt="">
                </a>
                <div class="slider-dots flex j-center">
                    <label for="slider1"></label>
                    <label for="slider2"></label>
                    <label for="slider3"></label>
                    <label for="slider4"></label>
                    <label for="slider5"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="layout">
        <div class="container">
            <div class="row">
                <!-- row sẽ margin 2 bên -15px -->
                <div class="main">
                    <!-- main padding 2 bên vô 15px -->
                    <div class="content-main">
                        <div class="top flex j-between">
                            <h5>
                                <a href=""> Album mới nhất 2020</a>               
                            </h5>
                            <a href="">
                                <span>Xem tất cả</span>
                            </a>    
                        </div>
                        <div class="part1 flex">
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9cc.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider18.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider17.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider2.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider20.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider5.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider7.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider8.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider9.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="song">
                                    <div class="photo">
                                        <a href="">
                                            <img src="dist/img/b9-slider10.jpg" alt="">
                                        </a>
                                        <div class="effect">
                                            <i class="fas fa-music"></i>
                                        </div>                             
                                    </div>                            
                                    <h5><a href="">Say A Little Prayer (Single)</a></h5>
                                    <p>
                                        Brooks
                                    </p>
                                </div>
                            </div>
                        </div>


                        <!-- viết tiếp -->
                    </div>
                </div>
                <div class="co-main">
                    <div class="content-co">




                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
